<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>高手持仓</title>
    <script src="/main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

</head>

<body>
    <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>收益率排名</th>
              <th>用户ID</th>
              <th>品种（多）</th>
              <th>品种（空）</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>1</td>
                <td><%= positions.first[0]%></td>
                <td><%= positions.first[1]%></td>
                <td><%= positions.first[2]%></td>
              </tr>
              <tr>
                <td>2</td>
                <td><%= positions.second[0]%></td>
                <td><%= positions.second[1]%></td>
                <td><%= positions.second[2]%></td>
              </tr>
              <tr>
                <td>3</td>
                <td><%= positions.third[0]%></td>
                <td><%= positions.third[1]%></td>
                <td><%= positions.third[2]%></td>
              </tr>
          </tbaody>
        </table>
    </div>
    <p class="copyright">Copyright &copy; 2016 FutureHelper</p>
</body>

</html>
