<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>排行榜</title>
    <script src="/main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

</head>

<body>
    <div class="table-responsive">
        <table class="table">
            <thead>
              <tr>
                <th>序号</th>
                <th>用户ID</th>
                <th>收益额</th>
                <th>收益率</th>
                <th>风险率</th>
              </tr>
            </thead>
            <tbody>
              <%
              for(var i=0;i<results.length;i++){
              %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= results[i].userId %></td>
                <td><%= results[i].earning %></td>
                <td><%= results[i].earningRate %></td>
                <td><%= results[i].riskdegree %></td>
              </tr>
              <% } %>
            <tbody>

        </table>
    </div>
    <p class="copyright">Copyright &copy; 2016 FutureHelper</p>
</body>

</html>
