<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>我的信息</title>
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

</head>

<body>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">日期</div>
            <div class="weui-cell__ft">
                <%= result[0].tradeDate %>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__bd">你的ID</div>
            <div class="weui-cell__ft">
                <%= result[0].userId %>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__bd">期初结存</div>
            <div class="weui-cell__ft">
                <%= result[0].previousFund %>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__bd">期末结存</div>
            <div class="weui-cell__ft">
                <%= result[0].presentFund %>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__bd">收益</div>
            <div class="weui-cell__ft">
                <%= result[0].earning %>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__bd">收益率</div>
            <div class="weui-cell__ft">
                <%= result[0].earningRate %>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__bd">风险度</div>
            <div class="weui-cell__ft">
                <%= result[0].riskdegree %>
            </div>
        </div>
    </div>

    <div class='text-center'>
        <p class="copyright">Copyright &copy; 2016 FutureHelper</p>
    </div>
</body>

</html>
